<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Page Object test example">
<parameter name="appURL" value="https://teechip.com/defaulttest/"/>
<parameter name="browser" value="chrome"/>
<parameter name="groups" value="all"/>
  <test name="basicTest">
    <classes>
      <class name="com.teechip.BaseTest"/>
      <class name="com.teechip.HomePageTest"/>

    </classes>
  </test>
</suite>